<% include common/header.ejs %>

<div class="container">
  <div class="row">
        <div class="col-md-9 padding_right5">
        <div class="panel panel-default index_top_content">
            <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/2015122206163799550-220x150.png" alt="..." class="pull-left " width="80">
                    <div class="">
                        <h6>nodejs安装和第一个程序</h6>
                         <p class="small">nodejs的安装就非常简单windows下一直下面一步，linux下面也是一般的安装软件的方法，但是安...</p>
                     </div>
                </div>
                <div class="col-md-6">sdf</div>
                <div class="col-md-6">sadf</div>
                <div class="col-md-6">sadf</div>
            </div>
            </div>
        </div>
            <div class="thumbnail">  
                <span class="label label-danger pull-right">New</span>          
                <img src="images/2015122206163799550-220x150.png" alt="..." class="pull-left margin_right4 img-responsive index_img">
                <div class="margin_left224 index_img_txt">
                    <h3 class="margin_top10">nodejs安装和第一个程序</h3>
                    <p >nodejs的安装就非常简单windows下一直下面一步，linux下面也是一般的安装软件的方法，但是安装好之后要检查一下是否安装成功看截图上面看到我检查了npm,那什么是npm？npm是一个node包管理和分发工具，已经成为了非官方的发布...</p> 
                </div>       
                <div class="clearfix"></div>                
            </div>


            
        </div>
        <div class="col-md-3 right_content">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>              
                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
        </div>
  </div>
</div>

    

<% include common/footer.ejs %>
